---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
	font-family: 'IM Fell English';
	src: local('IM FELL English Roman'), local('IM_FELL_English_Roman'), url(http://themes.googleusercontent.com/static/fonts/imfellenglish/v3/xwIisCqGFi8pff-oa9uSVCLHKJuu6uDU1VgRUl2Dqww.woff) format('woff');
}

@font-face {
	font-family: 'IM Fell English';
	font-style: italic;
	src: local('IM FELL English Italic'), local('IM_FELL_English_Italic'), url(http://themes.googleusercontent.com/static/fonts/imfellenglish/v3/Z3cnIAI_L3XTRfz4JuZKbp3BpQU8opE6p3S8I9UDCT8.woff) format('woff');
}

@font-face {
	font-family: 'IM Fell English SC';
	src: local('IM FELL English SC'), local('IM_FELL_English_SC'), url(http://themes.googleusercontent.com/static/fonts/imfellenglishsc/v3/h3Tn6yWfw4b5qaLD1RWvz1NITcQXGZNmPdSry0X2sgA.woff) format('woff');
}

// Our variables
$base-font-family: 'IM Fell English', 'Palatino Linotype', Palatino, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      hsl(200, 25%, 70%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout";
